---
layout: page
---

{% include header.html %}

<p>For now, the most recent stable version of kure can be found at the Google Code repository:</p>
<h2 class="dl">
  <a href="http://code.google.com/p/kure/downloads/list">Latest stable version</a>
</h2>

<p>If you're feeling ballsy, you can download the "live" code from GitHub, where the most recent changes are pushed:</p>
<h2 class="dl">
  <a href="https://github.com/skoh-fley/kure/archives/master">Development version</a>
</h2>
<p>The dev version has the most recent features and bugfixes, but is usually not 100% stable. This code hasn't been tested.</p>
<p><b>NOTE:</b> Most of the time I work on kure, I push changes to GitHub too often. Sometimes I'll get distracted after a bad push and it'll stay bad for days. This is your warning; running off of the most recent GitHub push may just be plain broken.</p>

{% include footer.html %}
