---
layout: page
---

{% include header.html %}

<p style="text-align: right;">
	Official and (hopefully) stable releases of kure can be found at GitHub:
</p>
<h2 class="dl">
  <a href="http://github.com/skoh-fley/kure/tags">Latest stable version</a>
</h2>

<p style="text-align: right;">
	Or if you're feeling ballsy, you can download the "live" code from GitHub, where the most recent changes are pushed.
	This is where the most recent feature additions and bug fixes reside. It is not, however, put through much testing.
	That's where you come in :P
</p>
<h2 class="dl">
  <a href="https://github.com/skoh-fley/kure/downloads">Development version</a>
</h2>

{% include footer.html %}
