---
layout: page
---

{% include header.html %}

<p class="q">Tell me more about this flat-file thing</b>.</p> 
<p class="a">Typically websites store information in advanced database systems like <a href="http://en.wikipedia.org/wiki/MySQL">MySQL</a> or <a href="http://en.wikipedia.org/wiki/Oracle_Database">Oracle</a>. The concept of a flat-file database instead uses plain text files to store information.</p> 

<p class="a">This method has its disadvantages, of course, but it is both extremely portable and, in many cases, very simple to understand.</p> 
<p class="a">For instance, if you wanted to you could open up Kure's <tt>posts</tt> directory and see all the posts you've made as text files. You can open them and change them just as you would a normal text file without messing anything up in the process. This is one of the appealing simplicities of the flat-file structure.

<p class="q">What do I do if I have a problem with Kure?</p> 
<p class="a">If it's a bug, <a href="http://github.com/skoh-fley/kure/issues">report it!</a>. Otherwise, you can email me at &#98;&#114;&#101;&#97;&#99;&#104;&#114;&#101;&#97;&#99;&#104;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;.</p> 

<p class="q">How can I contribute?</p> 
<p class="a">If you know your way around PHP, code changes, improvements, bugfixes, whatever, I can always use the help. Don't be afraid to try your hand at making plugins as well.</p> 

<p class="a">If you're good with design, feel free to make some templates. It's as simple as making an HTML page. Well, almost.</p> 
<p class="a">If you spot a bug, it'd be awesome if you could <a href="http://github.com/skoh-fley/kure/issues">report it</a>.</p> 
<p class="a">And finally, if you'd like to donate, check out the <a href="donate.html">donate page</a>.</p> 

<p class="q">How do I go about making a plugin and/or template?</p> 
<p class="a">For plugins, check out the <a href="https://github.com/skoh-fley/kure/wiki/Plugin-Documentation">plugin documentation</a>, and for templates, the <a href="https://github.com/skoh-fley/kure/wiki/Template-Documentation">template documentation</a>.</p>

{% include footer.html %}
