div#header {
	height:        30px;
	margin-bottom: 5px;
	width:         100%;
}

div#header-left {
	float:      left;
	height:     30px;
	text-align: right;
	width:      30%;
}

div#header-right {
	float:      left;
	height:     30px;
	position:   relative;
	text-align: left;
	width:      40%;
}

div#content {
	/*box-shadow: 0 0 9px #ddd; /* uncomment for a nice shadow around entries */
	margin:     auto;
	min-height: 90%;
	min-width:  200px;
	padding:    10px 15px;
	width:      40%;
}

div.split {
	width: 100%;
}

div.left-split {
	float:       left;
	margin-left: -5%;
	text-align:  left;
	width:       50%;
}

div.right-split {
	float:        right;
	margin-right: -5%;
	text-align:   right;
	width:        50%;
}

div#footer, a.footer:link, a.footer:visited {
	color:       #7f7f7f;
	height:      10px;
	font-family: "trebuchet ms", arial;
	font-size:   10px;
	margin:      auto;
	text-align:  center;
	width:       100%;
}

div.entry {
	margin-bottom: 20px;
}

div.entry-title {
	border-bottom:  1px dashed #ddd;
	color:          #606060;
	font-family:    arial;
	font-size:      18px;
	font-weight:    bold;
	letter-spacing: -1px;
	text-decoration: none;
}

div.entry-content {
	color:       #000000;
	font-family: "trebuchet ms", arial;
	font-size:   12px;
	margin-top:  5px;
}

a.date:link, a.date:visited {
	color:           #777;
	font-size:       12px;
	text-decoration: none;
}

a:link, a:visited, a.date:hover, a.footer:hover {
	color:           #4040ff;
	text-decoration: none;
}

p, a:hover {
	color: #000;
}

body {
	background:  #fff;
	color:       #000;
	font-family: "trebuchet ms", arial;
	font-size:   14px;
}

.success {
	color: #090;
}

.error {
	color: #f00;
}

a:link#site-title, a:visited#site-title {
	color:          #404040;
	font-family:    "trebuchet ms", arial;
	font-size:      26px;
	letter-spacing: -2px;
	padding-right:  2px;
	text-shadow:    0 0 2px #aaa;
}

a:hover#site-title {
	background: none;
	color:      #4040ff;
}

span#site-subtitle {
	color:          #404040;
	font-family:    "trebuchet ms", arial;
	font-size:      26px;
	letter-spacing: -2px;
	opacity:        .25;
	padding-left:   2px;
}

input[type="text"], input[type="password"] {
	box-shadow:  0 0 10px #ddd;
	height:      28px;
	font-family: "trebuchet ms";
	font-size    16px;
}

input[type="submit"] {
	background-color: #fff;
	border:           1px solid #ddd;
	box-shadow:       0 0 10px #ddd;
	color:            #000;
	font-family:      "trebuchet ms";
	font-size:        16px;
	letter-spacing:   -1px;
	height:           28px;
	padding:          2px 8px;
}

input[type="submit"]:active {
	box-shadow: inset 0 0 10px #ddd;
}
