div.entry {
	margin-bottom: 20px;
}

div.entry-title {
	border-bottom:  1px dashed #ddd;
	color:          #606060;
	font-family:    arial;
	font-size:      18px;
	font-weight:    bold;
	letter-spacing: -1px;
	text-decoration: none;
}

a:link, a:visited {
	color:           #0300ff;
	font-family:     "trebuchet ms", arial;
	text-decoration: none;
}

a:hover {
	background: #00f;
	color:      #fff;
}

a:link.footer, a:visited.footer {
	color:           #7f7f7f;
	font-family:     "trebuchet ms", arial;
	font-size:       11px;
	letter-spacing:  -1px;
	text-decoration: none; 
}

a:hover.footer {
	background: #00f;
	color:      #fff;
}

a.small {
	color: black;
	font-size: 10px;
	text-decoration: none;
}

a:hover.small {
	color: gray;
}

a:hover.pagesub, a:hover.smallsub {
	background-color: #eeeeee;
	text-decoration:  underline;
}

a.date:link {
	color:           #777;
	font-size:       12px;
	text-decoration: none;
}

a.date:visited {
	color: #777;
}

a.date:hover {
	background:      none;
	color:           #00f;
	text-decoration: none;
}

body {
	background:  #fff;
	color:       #000;
	font-family: "trebuchet ms", arial;
	font-size:   14px;
}

.success {
	color: #090;
}

div#content {
	/* box-shadow: 0 0 9px #ddd; /* uncomment for a nice shadow around entries */
	margin:     auto;
	min-height: 90%;
	padding:    10px 15px;
	width:      40%;
}

p {
	color:       #7f7f7f;
	font-family: "trebuchet ms", arial;
	font-size:   12px;
}

div.entry-content {
	color:       #000000;
	font-family: "trebuchet ms", arial;
	font-size:   12px;
}

.error {
	color: #f00;
}

div#footer {
	color:       #7f7f7f;
	height:      10px;
	font-family: "trebuchet ms", arial;
	font-size:   10px;
	margin:      auto;
	text-align:  center;
	width:       100%;
}

.form_text, .form_textarea {
	background:   #fff;
	border:       1px;
	border-color: #000;
	border-style: solid;
	color:        #000;
	font-family:  "trebuchet ms", arial;
	font-size:    16px;
	margin:       0 5px 0;
	padding:      0 3px 0;
}

input[type="text"], input[type="password"] {
	box-shadow:  0 0 10px #ddd;
	height:      28px;
	font-family: "trebuchet ms";
	font-size    16px;
}

input[type="submit"] {
	background-color: #fff;
	border:           1px solid #ddd;
	box-shadow:       0 0 10px #ddd;
	color:            #000;
	font-family:      "trebuchet ms";
	font-size:        16px;
	letter-spacing:   -1px;
	height:           28px;
	padding:          2px 8px;
}

input[type="submit"]:active {
	box-shadow: inset 0 0 10px #ddd;
}

.note {
	color:       #7f7f7f;
	font-family: arial;
	font-size:   12px;
}

.pagesub, .smallsub {
	color:           #101010;
	font-family:     "trebuchet ms", arial;
	font-size:       24px;
	letter-spacing:  -2px;
	line-height:     50%;
	text-decoration: none;
}

.smallsub {
	font-size: 20px;
}

a:link.site-title, a:visited.site-title {
	color:          #404040;
	font-family:    "trebuchet ms", arial;
	font-size:      26px;
	letter-spacing: -2px;
	padding-right:  2px;
	text-shadow:    0 0 2px #aaa;
}

a:hover.site-title {
	background: none;
	color:      #4040ff;
}

span.site-subtitle {
	color:          #404040;
	font-family:    "trebuchet ms", arial;
	font-size:      26px;
	letter-spacing: -2px;
	opacity:        .25;
	padding-left:   2px;
}

div#header {
	height:        30px;
	margin-bottom: 5px;
	width:         100%;
}

div#header-left {
	float:      left;
	height:     30px;
	text-align: right;
	width:      30%;
}

div#header-right {
	float:      left;
	height:     30px;
	position:   relative;
	text-align: left;
	width:      40%;
}
